h1 { color:rgb(255, 255, 255); }
h2 { color:rgb(255, 255, 255); }

 h1 { 
    text-align: center;
}
title {
    text-align: center;
}
h2 {
    text-align:center;
}
h1 p.solid {border-style: solid;
border-color:cyan;
}
h2 p.solid {border-style: solid;
    border-color:cyan;
    }
h3 p.solid {border-style: solid;
    border-color:cyan;
    }